.packer
.terragrunt-cache
.terraform
.terraform.lock.hcl
*tfstate*
terraform/staging/
*auto.tfvars*
.venv
.vault_pass
*.log
kubernetes/dev/platform/external-secrets/Secret.yaml
**build/
**charts/
**downloaded*iso**
.ansible
exported.yaml
*.box
*.box.json
output*/
.vagrant/
packer_cache/
drivers/
isos/
tmp/
*.log
*.old
*.iso
secrets*
windows-README.md
.generated*
