secrets.auto.pkrvars.hcl
secrets.pkrvars.hcl
secrets.hcl
secrets.auto.tfvars
.terraform
.packer
.terraform.lock.hcl
*tfstate*
*cache*
.venv
.vault_pass
*.env
*.log
kubernetes/dev/platform/external-secrets/Secret.yaml
**build/
**charts/
**downloaded*iso**
.ansible
collections/
