export AWS_ACCESS_KEY_ID=$(sops -d --extract '["access_key"]' secret.yaml)
export AWS_SECRET_ACCESS_KEY=$(sops -d --extract '["access_secret"]' secret.yaml)
export AWS_ENDPOINT_URL_S3=$(sops -d --extract '["endpoint"]' secret.yaml)
