all:
  children:
    servers:
      children:
        freeipa_clients:
            hosts:
%{ for name, node in nodes ~}
                ${name}:
                    ansible_host: ${split("/", node.ip)[0]}
%{ endfor ~}
