all:
  children:
    servers:
      children:
        kubernetes:
          hosts:
%{ for name, node in nodes ~}
            ${name}:
              ansible_host: ${split("/", node.ip)[0]}
%{ endfor ~}
