[defaults]
inventory = ./inventory/
remote_user = ansible
private_key_file = ~/.ssh/keys/ansible@theblacklodge.org
host_key_checking = False

roles_path = ./roles:./roles/kubernetes:./roles/system:./roles/workstation
collections_path = ./collections
vault_password_file = .vault_pass